In [4]:
import numpy as np
import pandas as pd

In [9]:
users_df = pd.read_csv('users.dat', names=["userId", "gender", "age", "occupation", "zip"], sep='::', engine='python')
prices_df = pd.read_csv('prices.csv')
ratings_df = pd.read_csv('ratings.dat', names=['userId','movieId','rating','timestamp'], sep="::", engine='python')

In [25]:
del prices_df['title']
del prices_df['pageUrl']

In [26]:
prices_df.head()

   movieId  price
0        1  19.99
1        3  12.99
2        4  19.99
3        6  14.99
4        7  10.40

In [44]:
data = pd.merge(pd.merge(ratings_df, users_df), prices_df)

In [28]:
data.head()

   userId  movieId  rating  timestamp gender  age  occupation    zip  price
0       1     1193       5  978300760      F    1          10  48067  14.99
1       2     1193       5  978298413      M   56          16  70072  14.99
2      12     1193       4  978220179      M   25          12  32793  14.99
3      15     1193       4  978199279      M   25           7  22903  14.99
4      17     1193       5  978158471      M   50           1  95350  14.99

In [46]:
data.head(10)

   userId  movieId  rating  timestamp  gender  age  occupation   zip  price
0       0      770       5  978300760       0    0          10  1588  14.99
1       1      770       5  978298413       1    6          16  2248  14.99
2      11      770       4  978220179       1    2          12  1165  14.99
3      14      770       4  978199279       1    2           7   904  14.99
4      16      770       5  978158471       1    5           1  3187  14.99
5      17      770       4  978156168       0    1           3  3227  14.99
6      18      770       5  982730936       1    0          10  1591  14.99
7      23      770       5  978136709       0    2           7   416  14.99
8      27      770       3  978125194       0    2           1   615  14.99
9      32      770       5  978557765       1    4           3  1915  14.99

In [64]:
sys.path.append("../../")
import data_loader.movielens_1m_with_prices

ModuleNotFoundError: No module named 'torch'

In [58]:
data = pd.merge(pd.merge(ratings_df, users_df), prices_df)
from sklearn.preprocessing import LabelEncoder
sparse_features = ["userId", "gender", "age", "occupation", "zip", "movieId"]
for feature in sparse_features:
    lbe = LabelEncoder()
    data[feature] = lbe.fit_transform(data[feature])
data = data.drop(data[data['rating'] == 3].index)
data.loc[data['rating'] < 3, 'rating'] = 0
data.loc[data['rating'] > 3, 'rating'] = 1

In [59]:
data.head(10)

    userId  movieId  rating  timestamp  gender  age  occupation   zip  price
0        0      770       1  978300760       0    0          10  1588  14.99
1        1      770       1  978298413       1    6          16  2248  14.99
2       11      770       1  978220179       1    2          12  1165  14.99
3       14      770       1  978199279       1    2           7   904  14.99
4       16      770       1  978158471       1    5           1  3187  14.99
5       17      770       1  978156168       0    1           3  3227  14.99
6       18      770       1  982730936       1    0          10  1591  14.99
7       23      770       1  978136709       0    2           7   416  14.99
9       32      770       1  978557765       1    4           3  1915  14.99
10      38      770       1  978043535       1    1           4  2112  14.99